<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Exclusão</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" />
                <p>Deseja excluir o produto <em><strong>"<span></span>"</strong></em>&nbsp;?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
    IMPORTANTE: VERIFICAR SE O BOOTSTRAP.JS ESTÁ REFERENCIADO NA LAYOUT E/OU NA PÁGINA
    SEM ESSA REFERENCIA, O MODAL NÃO FUNCIONA.
-->
<script>

    $(function () {
        $(".btn-xs").click(function (e) {
            e.preventDefault();            
            var id = this.id;
            var nome = this.name;
            $("#deleteModal .modal-body input[type=hidden]").val(id);
            $("#deleteModal .modal-body span").text(nome);
            $("#deleteModal").modal('show');
        });
        $("#deleteModal .modal-footer button").click(function (e) {
            e.preventDefault();
            var url= "Administrativo/Produto/Excluir"
            var id = $(".modal-body input[type=hidden]").val();
            var rownum = "row" + id;
            alert(rownum);

        });
    });
</script>
